@keyframes openListButtons
{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(168px);
    }
    100%{
        transform: translateY(168px);
        z-index: 3;
    } 
    
}

@keyframes closeListButtons
{
    0%{
        transform: translateY(168px);
    }
    50%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(0px);
        z-index: 2;
    }
}

