.sectionCards
{
    width: 98%;
    display: grid;
    grid-template-columns: repeat(1, 90%);
    justify-content: center;
    row-gap: 20px;
    
}

.section_card
{
    width: 78%;
    height: 360px;
    align-self: flex-start;
    justify-self: center;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
    
}

.card-name{
   
    width: 100%;
    height: 100%;


    grid-column: 1 / 2;
    grid-row: 1 / 2;

    align-self: center;
    justify-self: center;

    background-color: var(--greenBreakingBad_soft);
    border-radius: 20px 0px 0px 20px;
    display: flex;
    justify-content: center;
    
}

.card-name_name
{
    width: 300px;
    white-space: nowrap;
    text-align: center;
    align-self: center;
    font-size: 1.8rem;
    color: white;
    letter-spacing: 3px;
    font-weight: 500;
    transform: rotate(-90deg);
}

.card-image
{
    height: 100%;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    cursor: pointer;
    z-index: 2; 

    opacity: 1;
    transition: opacity 0.8s ease-in-out 0.6s;
}

.card-image:hover
{
    opacity: 0.2;
    transition: opacity 1s ease 0.3s;
}

img
{
    width: 100%;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
    object-fit: cover;
}

.card-stats
{
    
   
    padding: 16px;
   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;

    background: rgba(235, 235, 235, 0.767);    

    grid-column: 2 / 3;
    grid-row: 1 / 2;
    
    border-radius: 0px 10px 10px 0px;

    z-index: 1;

   
}

.card-stats_data
{
    width: 100%;
    height: 68%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.card-stats_data h3
{
    width: 100%;
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.card-stats_data h4
{
    width: 90%;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 500;
}

.card-stats_phase
{
    align-self: center;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 1px;
}

