/* Mobile L */
@media only screen and (min-width: 425px)
{
    .sectionCards
    {
        grid-template-columns: repeat(1, 80%);
    }

    .section_card
    {
        width: 80%;
    }
}

/*Mobile / Tablet */
@media only screen and (min-width: 556px)
{
    .sectionCards
    {
        grid-template-columns: repeat(2, 50%);
    }
}

/* Tablet */
@media only screen and (min-width: 768px)
{
    .sectionCards
    {
        grid-template-columns: repeat(2, 50%);
    }
}


/* Tablet / Laptop */
@media only screen and (min-width: 896px)
{
    .sectionCards
    {
        grid-template-columns: repeat(3, 33.33%);
    }
}




/* Laptop L */
@media only screen and (min-width: 1440px)
{
    .sectionCards
    {
        grid-template-columns: repeat(5, 20%);
    }
}


/* 4K */
@media only screen and (min-width: 2560px)
{
    .sectionCards
    {
        grid-template-columns: repeat(7, 14.29%);
    }
}


