
.divButtons
{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: var(--marginAlign);
}


.buttonOrderBy
{
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 1px solid rgb(26, 25, 25);
    cursor: pointer;
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.buttonOrderBy span
{
    width: 28px;
    height: 28px;
    background-image: url('/src/assets/icons/deployOptions.png');
    background-size: contain;
}

.buttonOrderBy:hover
{
    background-color: gainsboro;
}



.buttonsOrder
{
    width: 160px;
    height: 160px;
    position: absolute;
    top: 16vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 
}

.buttonsOrder button
{
    width: 100%;
    height: 32px;
    text-align: right;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}

.buttonsOrder button:hover
{
    background-color: gainsboro;
}


