@import 
    url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');




/* :root
{
    
} */

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
    
}

.main
{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.sectionCards
{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    row-gap: 20px;
    
}

@keyframes closeStats1
{
    0%{
        margin-bottom: 140px;
    }
    
    100%{
        margin-bottom: 0px;   
    }

}

.section_card
{
    width: 78%;
    height: 360px;
    align-self: flex-start;
    justify-self: center;
    display: grid;
    grid-template-rows: 20% 80%;
    cursor: pointer;

    animation: closeStats1 3s ease forwards;
}


.card-name{
    width: 100%;
    grid-row: 1 / 2;
    background-color: rgb(7, 99, 38);
    border-radius: 20px 20px 0px 0px;
    display: flex;
    justify-content: center;

  
}

.card-name_name
{
    font-size: 1.8rem;
    grid-area: name;
    align-self: center;
    color: white;
    letter-spacing: 2px;
    font-weight: 500;
}

.card-image{
    height: 100%;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border-left: 2px solid rgb(7, 99, 38);
    border-right: 2px solid rgb(7, 99, 38);
    z-index: 2;

   
}

img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes closeStats2
{
    100%{
        transform: translateY(0px);  
    }
}

.card-stats
{
    
    width: 100%;
    height: 142px;
    padding: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;

    box-shadow: 5px 6px 10px black,
                -5px 6px 10px  black;

    border-radius: 0px 0px 20px 20px;

    grid-column: 1 / 2;
    grid-row: 2 / 3;
    align-self: flex-end;

    animation: closeStats2 3s ease forwards;
}


@keyframes openStats1
{
    100%{
        transform: translateY(140px);
    }
}

.section_card:hover .card-stats
{
    visibility: visible;
    animation: openStats1 1.2s ease 1s forwards;

    /* idCard.style.marginBottom = "140px"    
    idInfoCard.style.transform = "translateY(140px)";
    idInfoCard.style.transition = "500ms ease all" */
}

@keyframes openStats2
{
    100%{
        margin-bottom: 140px;
    }
}

.section_card:hover
{
    animation: openStats2 1s ease 1s forwards;
}


.card-stats_data h3
{
    width: 100%;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 1px;
    
}

.card-stats_data h3 span
{
    font-weight: 500;
}

.card-stats_phase
{
    align-self: center;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 1px;
}

