

.header-bar
{
    width: 100%;
    height: 30vh;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 20% 5% 35% 35% 5% ;
    margin-bottom: 100px;

}

.header-bar_background{
    width: 100%;
    height: 100%;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    background-color: var(--greenBreakingBad_dark);
    
}

.header-bar_buttons
{
    width: 100%;
    height: 100%;
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}



.sectionTitle
{
    width: 100%;
    height: 100%;
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    display: grid;
    grid-template-columns: 4% 96%;
}

.logoBBC
{
    width: 60%;
    grid-column: 2 / 3;
    align-self: center;
}
